<%- include('partials/header') %>

<div class="upload-item">
    <form class="form-inline" method="GET" action="item-upload">
        <label for="sellbutt">Have something you want to sell?</label>
        <button id="sellbutt" type="submit" class="btn btn-primary mb-2">Sell it!</button>
    </form>
</div>

<div class="account-content">
    <a class="account-item orders" href="/pending-orders">
        <h2 class="account-link">Your orders</h2>
    </a>
    <a class="account-item items" href="/user-items">
        <h2 class="account-link">Your listed items</h2>
    </a>
    <a class="account-item settings" href="/account-settings">
        <h2 class="account-link">Account settings</h2>
    </a>
</div>

<!-- Recent orders and uploaded items -->
<!-- <div class="recent"> -->
<div class="recent-orders">
    <div class="order">

    </div>
    <button class="expand-button">View all orders</button>
</div>
<div class="recent-items">
    <div class="account-user-item">
        <% for (i = 0; i < 3; i++) { %>
        <div class="account-shop-item-links">
            <div class="account-shop-item">
                <div class="item-title">
                    <a href="/item/<%= itemList[i].id %>">
                        <p><%= itemList[i].name %></p>
                    </a>
                    <a class="settings" href="/edit-item/<%= itemList[i].id %>">cog.png</a>
                    <!-- button onclick="enablePopover(this)" data-placement="bottom" type="button" data-toggle="popover" data-html="true" data-original-title="Edit" data-content="Edit">cog.png</button> -->
                </div>
                <a class="itemImage" href="/item/<%= itemList[i].id %>">
                    <img src="https://kuiperbeltofbabies.s3.us-east-2.amazonaws.com/item-images/<%= itemList[i].picture.toString().split(";")[0] %>"
                        alt="picture">
                </a>
                <div>
                    <p>$<%= itemList[i].price %></p>
                    <hr>
                    <p><b>Seller:</b> Yo mama</p>
                    <p><b>Location:</b> <%= itemList[i].city %>, <%= itemList[i].state %></p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <a href="/user-items" class="expand-button">View all of your items</a>
</div>
<!-- </div> -->


<%- include('partials/footer') %>