<%- include('partials/header') %>


<div class="item-display">
  <div class="picture">
    <img class="displayed-image" src="https://kuiperbeltofbabies.s3.us-east-2.amazonaws.com/item-images/<%= itemPics[0] %>" alt="">
    <div class="other-pictures">
      <img onclick="setMainImage(this)" class="tiny-images selected-image" src="https://kuiperbeltofbabies.s3.us-east-2.amazonaws.com/item-images/<%= itemPics[0] %>" alt="">
      <% for (i = 1; i < itemPics.length; i++) { %>
      <img onclick="setMainImage(this)" class="tiny-images" src="https://kuiperbeltofbabies.s3.us-east-2.amazonaws.com/item-images/<%= itemPics[i] %>" alt="">
      <% } %>
    </div>
  </div>
  <div class="information">
    <h2><%= itemName %></h2>
    <h6>Made by <b><%= itemManu %></b></h6>
    <h6>Condition: <b><%= itemCondition %></b></h6>
    <h3>$<%= itemPrice %></h3>
    <hr>
    <h6><%= itemCity %>, <%=itemState %></h6>
    <h6><%= itemDesc %></h6>
    <h6><%= itemViews %></h6>
  </div>
  <div class="item-options">
    <div class="btn-holder">
      <button class="btn btn-dark btn-md" style="background-color: #212529;">Add to Cart</button>
    </div>
    <div class="btn-holder">
      <button class="btn btn-light btn-md" style="background-color: #9EC4C5; color: #212529; border-color: #9EC4C5;">Buy Now</button>
    </div>
    <form class="btn-holder" method="POST" action="wishlist-add/<%= itemID %>">
      <button type="submit" class="btn btn-dark btn-sm" style="background-color: #212529; width: 125px;">Add to Wishlist</button>
    </form>
  </div>
</div>


<%- include('partials/footer') %>