<%- include('partials/header') %>


<!-- Display items for mf shopping -->
<div class="shop-items">
  <% try { %>
  <div class="shop-filters">
    <p><%= itemType %></p>
  </div>
  <% } catch {} %>
  <% itemList.forEach(function(item) { %>
  <a class="shop-item-links" href="/item/<%= item.id %>">
    <div class="shop-item">
      <div class="itemTitle">
        <p><%= item.name %></p>
      </div>
      <div class="itemImage">
        <img
          src="https://kuiperbeltofbabies.s3.us-east-2.amazonaws.com/item-images/<%= item.picture.toString().split(";")[0] %>"
          alt="picture">
      </div>
      <div>
        <p>$<%= item.price %></p>
        <hr>
        <p><b>Seller:</b> XXXXXXX</p>
        <p><b>Location:</b> <%= item.city %>, <%= item.state %></p>
      </div>
      <div class="shop-item-overlay">
        <button>View Details</button>
      </div>
    </div>
  </a>
  <% }); %>
</div>

<form class="paginator" action="<%= itemType %>" method="POST">
  <input type="text" value="<%= placeholder %>" name="searchText" style="display: none;">
  <input type="text" value="<%= itemType %>" name="category" style="display: none;">
  <div class="limitor">
    <select name="pageLimit" id="page-limit" onchange="this.form.submit()">
      <% switch(pageLimit) {
      case 4: %>
      <option selected value="4">4</option>
      <option value="8">8</option>
      <option value="12">12</option>
      <% break;
      case 8: %>
      <option value="4">4</option>
      <option selected value="8">8</option>
      <option value="12">12</option>
      <% break;
      case 12: %>
      <option value="4">4</option>
      <option value="8">8</option>
      <option selected value="12">12</option>
      <% break;
      default: %>
      <option selected value="4">4</option>
      <option value="8">8</option>
      <option value="12">12</option>
      <% break;
      } %>
    </select>
  </div>
  <div class="page">
    <button name="previous">previous</button>
    <input type="number" name="pageNumber" value="<%= pageNum %>">
    <button name="next">next</button>
  </div>
  <div class="filter">
    <select name="sortCriteria" id="sortCriteria" onchange="this.form.submit()">
      <% 
      var options = ["Featured", "Price: High to Low", "Price: Low to High", "Closest", "Farthest", "Condition: High to Low", "Condition: Low to High"];
      for ( var i = 0; i < options.length; i++ )
      {
        if (options[i] === sortCriteria) { %>
          <option selected value="<%= options[i] %>"><%= options[i] %></option>
        <% } else { %>
          <option value="<%= options[i] %>"><%= options[i] %></option>
        <% }
      } %>
      <!-- <option value="Featured">Featured</option>
      <option value="Price: High to Low">Price: High to Low</option>
      <option value="Price: Low to High">Price: Low to High</option>
      <option value="Closest">Closest</option>
      <option value="Farthest">Farthest</option>
      <option value="Condition: High to Low">Condition: High to Low</option>
      <option value="Condition: Low to High">Condition: Low to High</option> -->
    </select>
  </div>
</form>


<%- include('partials/footer') %>